In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder # para realizar el Label Encoding 
from sklearn.preprocessing import OneHotEncoder  # para realizar el One-Hot Encoding

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

In [2]:
df = pd.read_csv("Datos/possum_esta.csv", index_col = 0)
df.head(2)

,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,age_norm,age_log,age_raiz,age_Sklearn,belly_esta
case,,,,,,,,,,,,,,,,,,
1,1,Vic,m,8.0,-0.028932,60.4,89.0,36.0,74.5,54.5,15.2,0.736833,0.150424,0.522837,2.079442,2.828427,0.625,1.235889
2,1,Vic,f,6.0,0.392875,57.6,91.5,36.5,72.5,51.2,16.0,1.473667,0.514241,0.272837,1.791759,2.449490,0.625,0.149699

In [20]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
             95,  96,  97,  98,  99, 100, 101, 102, 103, 104],
           dtype='int64', name='case', length=104)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 1 to 104
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site         104 non-null    int64
 1   Pop          104 non-null    object
 2   sex          104 non-null    object
 3   age          104 non-null    float64
 4   hdlngth      103 non-null    float64
 5   skullw       104 non-null    float64
 6   totlngth     104 non-null    float64
 7   taill        104 non-null    float64
 8   footlgth     103 non-null    float64
 9   earconch     104 non-null    float64
 10  eye          104 non-null    float64
 11  chest        103 non-null    float64
 12  belly        103 non-null    float64
 13  age_norm     104 non-null    float64
 14  age_log      104 non-null    float64
 15  age_raiz     104 non-null    float64
 16  age_Sklearn  103 non-null    float64
 17  belly_esta   104 non-null    float64
dtypes: float64(15), int64(1), object(2)
memory usage: 15.4+ KB

In [4]:
df.Pop.unique()

array(['Vic', 'other'], dtype=object)

In [5]:
df.sex.unique()

array(['m', 'f'], dtype=object)

In [17]:
df.Pop.value_counts()

other    58
Vic      46
Name: Pop, dtype: int64

Nuestras variables cualitativas:

Pop (population): o "Vic" (Victoria) o "other" (New South Wales or Queensland)y Sex (gender): o "m" (male) o "f" (female)


Consideramos "sex" como una variable cualitativa binaria y "pop" como una variable cualitativa nominal

Como nuestras variables cualitativas NO tienen orden podemos usar One_Hot Encoding o get_dummies

In [6]:
# nos creamos un dataframe con las variables categóricas

df_possum_cat = df.select_dtypes(include = "object")
df_possum_cat.head(10)

      Pop sex
case
1     Vic   m
2     Vic   f
3     Vic   f
4     Vic   f
5     Vic   f
6     Vic   f
7     Vic   m
8     Vic   f
9     Vic   f
10    Vic   f

One-Hot Encoding

In [7]:
# Vamos a usar este método con la variable "Pop"

In [8]:
# iniciamos el método de OneHot Encoder
oh = OneHotEncoder()

In [9]:
# hacemos la codificación de los datos para la variable dada 
transformados = oh.fit_transform(df_possum_cat[['Pop']])

In [10]:
# convertimos nuestro array con la codificación hecha en un dataframe, donde tendremos dos columnas, una para los "Yes" y otra para los "No"
oh_df = pd.DataFrame(transformados.toarray())
oh_df.head(5)

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

In [11]:
# el método get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generarán
oh_df.columns = oh.get_feature_names()
oh_df.columns

Index(['x0_Vic', 'x0_other'], dtype='object')

In [12]:
# concatenamos el dataframe original con el dataframe que acabamos de crear
get_hot = pd.concat([df,oh_df],axis=1)
get_hot.head()

,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,age_norm,age_log,age_raiz,age_Sklearn,belly_esta,x0_Vic,x0_other
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
1,1.0,Vic,m,8.0,-0.028932,60.4,89.0,36.0,74.5,54.5,15.2,0.736833,0.150424,0.522837,2.079442,2.828427,0.625,1.235889,1.0,0.0
2,1.0,Vic,f,6.0,0.392875,57.6,91.5,36.5,72.5,51.2,16.0,1.473667,0.514241,0.272837,1.791759,2.449490,0.625,0.149699,1.0,0.0
3,1.0,Vic,f,6.0,0.167912,60.0,95.5,39.0,75.4,51.9,15.5,0.491222,0.514241,0.272837,1.791759,2.449490,0.625,0.511762,1.0,0.0
4,1.0,Vic,f,6.0,-0.310136,57.1,92.0,38.0,76.1,52.2,15.2,0.736833,0.150424,0.272837,1.791759,2.449490,0.125,0.511762,1.0,0.0

get_dummies

In [13]:
# Lo usaremos sobre la variable sex

In [14]:
dummies = pd.get_dummies(df_possum_cat["sex"], prefix_sep = "_", prefix = "sex", dtype = int)
dummies.head(2)

      sex_f  sex_m
case
1         0      1
2         1      0

In [15]:
df_final = pd.concat([get_hot, dummies], axis = 1)
df_final.head(2)

,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,age_norm,age_log,age_raiz,age_Sklearn,belly_esta,x0_Vic,x0_other,sex_f,sex_m
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
1,1.0,Vic,m,8.0,-0.028932,60.4,89.0,36.0,74.5,54.5,15.2,0.736833,0.150424,0.522837,2.079442,2.828427,0.625,1.235889,1.0,0.0,0.0,1.0

Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [16]:
df_final.to_csv("Datos/possum_completo.csv")